#calculadora1{
  position: relative;
  top: 45%;
}

#calculadora2{
    position: relative;
    top: 45%;
  }
  #paragrafo{
    position: relative;
    top: 45%;
  }

  #nome{
    position: relative;
    left: 49%;
  }