.container{
    width: 100vw;
    height: 100vh; 
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: rgb(87, 86, 86);
}

#calculadora{
  position: relative;
  left: 35%;
  bottom: 30%;

}
